<template>
    <div id="goodList" class="page">
        <div class="page-tab">
            <tab-bar current="1" @tabSelected="tabSelected">
                <tab-bar-item index="1" title="销量"/>
                <tab-bar-item index="2" title="价格" :order="true" :desc="false"/>
            </tab-bar>
        </div>
        <div class="page-body flex flex-pack-justify flex-wrap">
            <good-card v-for="one in goodList" :key="one.id" :id="one.id" :title="one.title" :cost="one.cost" :original="one.original"/>
        </div>
    </div>
</template>

<script>
    import TabBar from "@/components/TabBar";
    import TabBarItem from "@/components/TabBarItem";
    import GoodCard from "@/components/GoodCard";
    import GoodService from "@/service/good";

    export default {
        data() {
            return {
                goodList: []
            };
        },
        components: {
            TabBar,
            TabBarItem,
            GoodCard
        },
        onLoad(obj) {
            let app = this;

            wx.setNavigationBarTitle({
                title: obj.title
            });

            app.goodList = GoodService.getGoodListByCategoryId(obj.categoryId);
        },
        mounted() {
        },
        methods: {
            tabSelected(obj) {
                // 追加回调信息
                console.log('obj == ', obj);
            }
        }
    };
</script>

<style scoped>
    .page-tab {
        padding-bottom: 10px;
    }

    .page-body {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }
</style>
