<template>
    <div class="search flex flex-v">
        <InputSearch
            @change="handleChange"
            @focus="handleFocus"
            @blur="handleBlur"
            :initData="value"
        ></InputSearch>
        <div class="search-list flex flex-pack-justify flex-wrap">
            <good-card v-for="one in goodList" :key="one.id" :id="one.id" :title="one.title" :cost="one.cost" :original="one.original"/>
        </div>
    </div>
</template>

<script>
    import InputSearch from "@/components/InputSearch";
    import GoodCard from "@/components/GoodCard";
    import GoodService from "@/service/good";

    export default {
        data() {
            return {
                goodList: [],
                value: "",
                data: ["身体乳", "洁面仪", "磨砂膏", "卸妆水", "滋润型", "资生堂心记", "美白丸", "护发素", "MIKIMOTO"]
            };
        },
        components: {
            InputSearch,
            GoodCard
        },
        onLoad(data) {
            this.value = data.title;
            this.goodList = GoodService.getGoodListByCategoryId(1);
        },
        methods: {
            handleClick() {
            },
            handleFocus(val) {
                console.log("获取光标", val);
            },
            handleBlur(val) {
                console.log("失去光标", val);
            },
            handleChange(val) {
                console.log("value在变化22", val);
            }
        }
    };
</script>

<style lang="less" scoped>
    .search {
        width: 100%;
        height: 100%;

        .search-list {
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;
        }
    }
</style>
