<template>
    <div id="category" class="page">
        <div class="page-body">
            <div class="page-left">
                <category-top v-for="one in categoryTopList" :key="one.id" :id="one.id" :title="one.title" :icon="one.icon" :current="current" @categoryChange="categoryChange"/>
            </div>
            <div class="page-right">
                <div class="category-banner">
                    <category-banner/>
                </div>
                <div class="category-below">
                    <category-below v-for="one in categoryBelowList" :key="one.id" :id="one.id" :title="one.title" :icon="one.icon" @categorySelect="categorySelect"/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    // import NaviagateBar from "@/components/NavigateBar";
    import CategoryTop from "@/components/CategoryTop";
    import CategoryBelow from "@/components/CategoryBelow";
    import CategoryBanner from "@/components/CategoryBanner";
    import CategoryService from "@/service/category";

    export default {
        data() {
            return {
                current: 0,
                categoryTopList: [],
                categoryBelowList: []
            };
        },
        components: {
            CategoryTop,
            CategoryBelow,
            CategoryBanner
        },
        mounted() {
            let app = this;
            // 载入一级分类
            app.categoryTopList = CategoryService.getCategoryTopList();
            // 选定一级分类首个
            app.current = app.categoryTopList[0].id;
            // 载入二级分类
            app.categoryBelowList = CategoryService.getCategoryBelowList(app.current);
        },
        methods: {
            categoryChange(id) {
                let app = this;
                app.current = id;
            },
            categorySelect(obj) {
                let app = this;

                wx.navigateTo({
                    url: `../../pages/goodList/main?title=${obj.title}&categoryId=${obj.id}`
                });
            }
        }
    };
</script>

<style lang="less" scoped>
    .page-left {
        width: 90px;
        float: left;
    }

    .page-right {
        width: 285px;
        float: right;
    }

    .category-below {
        margin: 8px 10px;
        background-color: @background-color;
        padding: 9px;
        overflow: hidden;
    }
</style>
