<template>
    <div id="cart" class="page">
        <p>this is cart page（购物车）...</p>
        <!--<naviagate-bar/>-->
    </div>
</template>

<script>
    import NaviagateBar from "@/components/NavigateBar";

    export default {
        data() {
            return {
                userInfo: {}
            };
        },
        components: {
            NaviagateBar
        },
        methods: {}
    };
</script>

<style scoped>

</style>
