<template>
    <div class="venue">
        <div class="venue-box">
            <div class="venue-cover">
                <img :src="imgUrl" class="cover" alt="cover">
            </div>
            <div class="venue-top">
                <div class="venue-info">
                    <div class="venue-brand flex flex-align-center flex-pack-justify">
                        <img class="brand-avatar" src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="">
                        <div class="flex-1">
                            <div class="brand-title">DDXJLUH DDSS</div>
                            <div class="brand-info flex flex-v">
                                <div><span class="goodsNum">37款</span> <span>在售商品</span></div>
                                <div><span>活动时间：</span><span>10月05日 00:00</span></div>
                            </div>
                        </div>
                    </div>
                    <view class="brand-desc">
                        <text>DDXJLUH DDSS，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品</text>
                    </view>
                </div>
                <div class="venue-brand-story">
                    <div class="brand-story-title">品牌故事</div>
                    <view class="brand-story-desc">
                        <text>DDXJLUH DDSS，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品DDXJLUH DDSS，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品</text>
                    </view>
                </div>
                <div class="venue-video">
                     <video
                        class="video"
                        src="http://video.tiejin.cn/sv/1f9e9c04-1682994f0bb/1f9e9c04-1682994f0bb.mp4"
                        controls
                    ></video>
                </div>
                <div class="venue-brandimg">
                    <img v-for="item in 3" :key="item" class="brand-avatar" src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="goods-list flex flex-pack-justify flex-wrap">
            <good-card v-for="one in goodList" :key="one.id" :id="one.id" :title="one.title" :cost="one.cost" :original="one.original"/>
        </div>
    </div>
</template>

<script>
    import GoodCard from "@/components/GoodCard";
    import GoodService from "@/service/good";
    export default {
        data() {
            return {
                imgUrl: require("../../assets/maxresdefault.jpg"),
                goodList: []
            };
        },
        components: {
            GoodCard
        },
        onLoad() {
            this.goodList = GoodService.getGoodListByCategoryId(1);
            wx.setNavigationBarTitle({
                title: 'DDXJLUH DDSS新品抢购'
            });
        },
        methods: {}
    };
</script>

<style lang="less" scoped>
    .venue {
        .venue-box {
            background: @background-color;
            padding-bottom: 5px;
            border-bottom: 1px solid @border-color;
        }
        .venue-cover {
            .wh(100%, 160px);
            overflow: hidden;
            .cover {
               .wh(100%, 100%);
            }
        }
        .venue-top {
            margin-top: -35px;
            padding: 0 10px;
        }
        .venue-info {
            .venue-brand {
                padding: 10px 0;
                .brand-avatar {
                    border-radius: 100%;
                    margin-right: 10px;
                    .wh(60px, 60px);
                }

                .brand-title {
                    .sc(@font-size-large, @background-color);
                    margin-bottom: 10px;
                }

                .brand-info {
                    .sc(@font-size-tertiary, @font-color-secondary);
                    margin-right: 10px;
                }
            }

            .brand-desc {
                .ft(@font-size-secondary, 1.4);
                padding-bottom: 10px;
                border-bottom: 1px solid @border-color;
            }
        }

        .venue-brand-story {
            .brand-story-title {
                .sc(@font-size-large, @primary-color);
                .hlh(30px);
            }
            .brand-story-desc {
                .ft(@font-size-secondary, 1.4);
            }
        }

        .venue-video {
            margin-top: 10px;
            .video {
                .wh(100%, 202px);
            }
        }

        .venue-brandimg {
            img {
                width: 100%;
                display: block;
                margin-bottom: 5px;
            }
        }
        .goods-list {
            width: 100%;
            padding: 0 10px;
            box-sizing: border-box;
        }
    }
</style>
