<template>
    <div class="page"
         :class="{ asideBarShow: toggleAside}">
        <div class="page-body" :class="{ overflowPage: toggleAside }">
            <div class="page-top">
                <div class="top-search flex flex-align-center">
                    <i-icon type="activity" size="26" color="#fff" @click="toggleAside = true"/>
                    <div class="flex-1 search-like flex flex-align-center flex-pack-center" @click="toSearch">
                        <i-icon type="search" size="24"/>
                        <span class="search-placeholder">查找商品</span>
                    </div>
                </div>
                <div class="top-info flex flex-align-center">
                    <img class="info-avatar" src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="avatar">
                    <div class="info-more">
                        <div class="flex flex-pack-justify">
                            <span class="more-vuener">不想睡觉</span>
                            <span class="more-weixin flex flex-align-center flex-pack-center" @click="toMine">
								<i-icon type="activity" class="more-weixin-icon" size="16" color="#fff"/>
								<span>店主微信</span>
							</span>
                        </div>
                        <div class="more-desc">本店纯代购正版商品，本店纯代购正版商品，本店纯代购正版商品，重要的事要说3遍</div>
                    </div>
                </div>
                <div class="top-banner">
                    <Swiper 
                    :list="imgUrls" 
                    :autoplay="false" 
                    :indicator="false" 
                    next-margin="40" 
                    previous-margin="40"
                    bots-poistion="out"
                    :bots-show="true"
                    interval="4000" 
                    duration="1000"></Swiper>
                </div>
            </div>
            <div class="shopkeeper-recommend">
                <div class="module-title flex flex-pack-justify flex-align-center">
                    <span>店主推荐 <span class="title-trans">店長におすすめ</span></span>
                    <span class="more">more<i-icon type="enter" class="more-icon" size="18"/></span>
                </div>
                <div class="module-goods">
                    <GoodList v-for="item in 2" :key="item" :index="item"></GoodList>
                </div>
            </div>
            <div class="hot-sale-venue">
                <div class="module-title hot-sale-title flex flex-pack-justify flex-align-center">
                    <span>热卖会场 <span class="title-trans">ホットセール</span></span>
                </div>
                <div class="module-goods" v-for="item in 2" :key="item" :index="item">
                    <HotSaleVenue></HotSaleVenue>
                    <div class="split-box"></div>
                </div>
            </div>
        </div>
        <AsideBar :toggleAside="toggleAside"></AsideBar>
        <!-- <HorizontalScroll></HorizontalScroll> -->
        <div :class="{mask: toggleAside}" @click="toggleAside = false"></div>
    </div>
</template>

<script>
    import Swiper from "@/components/Swiper";
    import AsideBar from "@/components/AsideBar";
    import HotSaleVenue from "@/components/HotSaleVenue";
    import GoodList from "@/components/GoodList";

    export default {
        data() {
            return {
                inputShowed: false,
                inputVal: "",
                toggleAside: false,
                imgUrls: [
                    require("@/assets/maxresdefault.jpg"),
                    require("@/assets/1_HSisLuifMO6KbLfPOKtLow.jpg"),
                    require("@/assets/mysql-logo-wallpaper.jpg"),
                    require("@/assets/1_aeWo6e6FC8InJwBl3TmpDw.jpg"),
                    require("@/assets/1_ueWmI48uuShON-hX7LwI0w.png")
                ],
                autoplay: false,
                indicator: false,
            };
        },
        components: {
            Swiper,
            AsideBar,
            HotSaleVenue,
            GoodList
        },
        methods: {
            toSearch() {
                wx.navigateTo({
                    url: "../search/main"
                });
            },
            toMine() {
                wx.navigateTo({
                    url: "../mine/main"
                });
            }
        }
    };
</script>
<style>
    .top-banner .slide-image {
        width: 275px;
        height: 150px;
        border-radius: 4px;
    }
</style>

<style scoped lang="less">
    // @import url('../../style/base.less');

    .mask {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
    }

    .page {
        transform: translateX(0%);
        transition: all 0.3s;
        height: 100%;
        width: 100%;

        &.asideBarShow {
            transform: translateX(80%);
        }

        .page-body {
            &.overflowPage {
                height: 100vh;
                overflow: hidden;
            }
        }

        .page-top {
            background-color: #013368;

            .top-search {
                padding: 20px 10px;

                .search-like {
                    background: #000;
                    color: @background-color;
                    height: 30px;
                    border-radius: 16px;
                    margin-left: 10px;
                    opacity: 0.3;
                }

                .search-placeholder {
                    margin-left: 10px;
                }
            }

            .top-info {
                padding: 0 10px 10px;
                color: @background-color;

                .info-avatar {
                    width: 64px;
                    height: 64px;
                    min-width: 64px;
                    border-radius: 100%;
                    margin-right: 10px;
                }

                .info-more {
                    .more-vuener {
                        font-size: @font-size-large;
                    }

                    .more-weixin {
                        width: 96px;
                        height: 24px;
                        background-color: @success-color;
                        border-radius: 24px;
                        font-size: 13px;

                        .more-weixin-icon {
                            margin: -2px 5px 0 0;
                        }
                    }

                    .more-desc {
                        font-size: 12px;
                        margin-top: 5px;
                    }
                }
            }
        }

        .shopkeeper-recommend {
            background-color: @background-color;
            padding: 0 10px 10px;
            margin-bottom: 10px;
        }

        .hot-sale-title {
            background: @background-color;
            padding: 0 10px;
        }

        .module-goods {
            margin-bottom: 10px;
        }

        .module-title {
            height: 50px;
            font-size: @font-size-large;
            color: @font-color-bold;

            .title-trans {
                color: @font-color-secondary;
                font-size: @font-size;
                margin-left: 5px;
            }

            .more {
                color: @font-color-tertiary;

                .more-icon {
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
</style>
