<template>
    <div class="goods">
        <div class="goods-banner">
            <Swiper 
            :list="imgUrls" 
            :autoplay="false" 
            :indicator="false" 
            bots-poistion="in"
            :bots-show="true"
            interval="4000" 
            duration="1000"></Swiper>
        </div>
        <div class="goods-info">
            <view class="info-title"><text>MIKIMOTOCOSMETICS 拉风丽娜黑珍珠活肤精华液</text></view>
            <div class="flex flex-pack-justify">
                <div class="info-price">
                    <span class="price-sale">￥156</span>
                    <span class="price-original">￥300</span>
                </div>
                <div>
                    <span class="info-status">
                        库存紧张
                    </span>
                </div>
            </div>
        </div>
        <div class="goods-standard">
            <i-cell-group>
                <i-cell is-link>
                    <div>
                        <span class="standard-title">促销</span>
                        <span class="standard-divider">·</span>
                        <i-tag 
                            v-for="(item,index) in tags" 
                            :key="index"
                            type="border"
                            color="primary"
                            style="margin-right:5px;">
                            {{item.name}}
                        </i-tag>
                    </div>
                </i-cell>
                <i-cell is-link url="/pages/dashboard/index">
                    <div class="flex flex-align-center">
                        <span class="standard-title">选择</span>
                        <span class="standard-divider">·</span>
                        <div class="flex flex-v">
                            <span class="standard-capacity">30ml</span>
                            <span class="standard-summary">杭州保税仓，预计1-3个工作日发货</span>
                        </div>
                    </div>
                </i-cell>
            </i-cell-group>
        </div>
        <div class="goods-comment">
            <div>
                <i-cell class="comment-title" title="评论" is-link url="/pages/dashboard/index" value="167条"></i-cell>
            </div>
            <div class="comment-list">
                <div class="comment-list-cell flex" v-for="item in 2" :key="item">
                    <div class="cell-avatar">
                        <image class="avatar" mode="aspectFill" src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="avatar"></image>
                    </div>
                    <div class="cell-content flex-1 flex flex-v">
                        <text class="nickname">mala</text>
                        <div class="content ellipsis-3">
                            <text>这是评论的内容哈哈哈哈哈啊哈哈这是评论的内容哈哈哈哈哈啊哈哈这是评论的内容哈哈哈哈哈啊哈哈这是评论的内容哈哈哈哈哈啊哈哈</text>
                        </div>
                    </div>
                    <div class="cell-cover">
                        <image class="cover" mode="aspectFill" src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="cover"></image>
                    </div>
                </div>
            </div>
        </div>
        <div class="goods-venue">
            <div class="venue-cell flex flex-align-center">
                <div class="cell-logo">
                    <image class="logo" mode="aspectFill" src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="logo"></image>
                </div>
                <div class="cell-content flex flex-v flex-1">
                    <span class="content-title">MIKIMOTO COSMETICS</span>
                    <span>10月22日 00:00 结束</span>
                </div>
                <div class="goods-tags-border">
                    <i-tag 
                        class="i-tags"
                        name="进入会场"
                        :checkable="true"
                        color="primary"
                        type="dot">
                        进入会场
                    </i-tag>
                </div>
            </div>
        </div>
        <div class="goods-promise">
            <div class="promise-title"><span>雪糕郑重承诺</span></div>
            <div class="promise-list flex flex-align-center flex-pack-around">
                <div v-for="item in 4" :key="item" class="promise-cell flex flex-v flex-pack-center">
                    <image mode="aspectFill" class="logo" src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="logo"></image>
                    <span>假一赔十</span>
                </div>
            </div>
        </div>
        <div class="goods-infor">
            <div class="goods-title"><span>产品信息</span></div>
            <div class="infor-cell">
                <div>
                    <text class="cell-title">品牌</text>
                    <text class="cell-content">MIKIMOTO COSMETICS</text>
                </div>
                <div>
                    <text class="cell-title">名称</text>
                    <text class="cell-content">MIKIMOTO COSMETICS</text>
                </div>
                <div>
                    <text class="cell-title">容量</text>
                    <text class="cell-content">MIKIMOTO COSMETICS</text>
                </div>
                <div>
                    <text class="cell-title">产地</text>
                    <text class="cell-content">MIKIMOTO COSMETICS</text>
                </div>
                <div>
                    <text class="cell-title">保质期</text>
                    <text class="cell-content">MIKIMOTO COSMETICS</text>
                </div>
            </div>
        </div>
        <div class="goods-character">
            <div class="goods-title"><span>产品特点</span></div>
            <div class="flex flex-v">
                <image class="character-logo" mode="aspectFill" v-for="item in 4" :key="item" src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="cover"></image>
            </div>
        </div>
        <div class="goods-instruction">
            <div class="goods-title"><span>使用说明</span></div>
            <div class="instr-list">
                <div class="instr-cell" v-for="item in 2" :key="item">
                    <span>1.</span>
                    <span>在用化妆师之前使用。取少量精华液在手中花开，秦安年龄不，配合一份美颜方法，按摩促进血液循环，效果更佳明星</span>
                </div>
            </div>
        </div>
        <div class="goods-brand">
            <div class="goods-title"><span>品牌故事</span></div>
            <div class="flex flex-v">
                <image class="brand-logo" mode="aspectFill" v-for="item in 4" :key="item" src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="cover"></image>
            </div>
        </div>
       
    </div>
</template>

<script>
    import Swiper from "@/components/Swiper";
    import GoodCard from "@/components/GoodCard";
    import GoodService from "@/service/good";
    export default {
        data() {
            return {
                imgUrls: [
                    require("@/assets/maxresdefault.jpg"),
                    require("@/assets/1_HSisLuifMO6KbLfPOKtLow.jpg"),
                    require("@/assets/mysql-logo-wallpaper.jpg"),
                    require("@/assets/1_aeWo6e6FC8InJwBl3TmpDw.jpg"),
                    require("@/assets/1_ueWmI48uuShON-hX7LwI0w.png")
                ],
                goodList: [],
                current: 'homepage',
                tags : [
                    {
                        name : '标签一',
                    },
                    {
                        name : '标签二',
                    },
                    {
                        name : '标签三',
                    },
                    {
                        name : '标签4️',
                    }
                ]
            };
        },
        components: {
            GoodCard,
            Swiper
        },
        onLoad() {
            this.goodList = GoodService.getGoodListByCategoryId(1);
            wx.setNavigationBarTitle({
                title: 'DDXJLUH DDSS新品抢购'
            });
        },
        methods: {}
    };
</script>
<style lang="less">
    .goods-banner .swiper, 
    .goods-banner .swiper .swiper-box,
    .goods-banner .swiper .swiper-box .slide-image{
        width: 375px;
        height: 375px;
    }
</style>

<style lang="less" scoped>
    .goods {
        .goods-info {
            background-color: @background-color;
            padding: 10px;
            margin-bottom: 10px;
            .info-title {
                .sch(@font-size-large, @font-color-bold, 1.2);
                margin-bottom: 10px;
            }
            .info-price {
                .price-sale {
                    .sc(@font-size-large + 2, @primary-color);
                    margin-right: 5px;
                }
                .price-original {
                    .sc(@font-size, @font-color-tertiary);
                    text-decoration: line-through;
                }
            }
            .info-status {
                .sc(@font-size, @primary-color);
            }
        }
        .goods-standard {
            margin-bottom: 10px;
            .standard-divider {
                margin: 0 10px;
            }
            .standard-capacity {
                color: @primary-color;
            }
            .standard-summary {
                .sc(@font-size-quaternary, @font-color-secondary)
            }
        }
        .goods-comment {
            margin-bottom: 10px;
            .comment-title {
                font-size: @font-size-large;
            }
            .comment-list-cell {
                background-color: @background-color;
                padding: 10px; 
                border-bottom: 1px solid @border-color;
                &:last-child {
                    border-bottom: 0;
                }
                .cell-avatar {
                    .avatar {
                        .wh(40px, 40px);
                        border-radius: 100%;
                    }
                }
                .cell-cover {
                    .cover {
                        .wh(90px, 64px);
                        border-radius: 4px;
                    }
                }
                .cell-content {
                    .ft(@font-size, 1.0);
                    margin: 0 10px;
                    .nickname {
                        color: @font-color-bold;
                        margin-bottom: 2px;
                    }
                    .content {
                        line-height: 1.15;
                    }
                }
            }
        }
        .goods-venue {
            padding: 10px;
            background-color: @background-color;
            .cell-logo {
                .logo {
                    .wh(60px, 60px);
                    border-radius:100%;
                }
            }
            .cell-content {
                margin-left: 10px;
                .sc(@font-size-tertiary, @font-color-secondary);
                .content-title {
                    .sc(@font-size-large, @font-color-bold);
                    margin-bottom: 4px;
                }
            }
        }
        .goods-promise {
            padding: 0 10px;
            .promise-title {
                .hlh(50px);
                .sc(@font-size-large, @font-color-bold);
                text-align: center;
            }
            .promise-list {
                padding: 10px 0;
                background-color: yellow;
                .promise-cell {
                    color: @font-color-tertiary;
                    .logo {
                        .wh(48px, 48px);
                        border-radius: 100%;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        .goods-title {
            .hlh(32px);
            .sc(@font-size-large, @font-color-bold);
            text-align: center;
        }
        .goods-infor {
            .infor-cell {
                background-color: @background-color;
                padding: 15px 25px;
                .ch(@font-color-tertiary, 1.6);
                .cell-title {
                    color: @font-color-bold;
                    margin-right: 10px;
                }
            }
        }
        .goods-character {
            .character-logo {
                width: 100%;
            }
        }
        .goods-instruction {
            .instr-list {
                background-color: @background-color;
                padding: 15px 25px;
                .ch(@font-color-tertiary, 1.4);
                .instr-cell {
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom:0;
                    }
                }
            }
        }
        .goods-brand {
            .brand-logo {
                width: 100%;
            }
        }
    }
</style>
