<template>
    <div id="goodInfo" class="page">
        <p>this is good info page（商品详情）...</p>
    </div>
</template>

<script>
    import NaviagateBar from "@/components/NavigateBar";

    export default {
        data() {
            return {
                userInfo: {}
            };
        },
        components: {
            NaviagateBar
        },
        methods: {}
    };
</script>

<style scoped>

</style>
