// 字体
@font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif; // 字体
@font-color: #5C5C5C; // 主字体颜色
@font-color-secondary: #C3C3C3; // 次级字体颜色
@font-color-tertiary: #808080; // 三次级字体颜色
@font-color-bold: #333333;
@font-size: 14px; // 主字体大小
@font-size-secondary: 13px; // 次级字体大小
@font-size-tertiary: 12px; // 三级字体大小
@font-size-quaternary: 11px; // 四级字体大小
@font-size-large: 16px; // 加大型字体

// 颜色
@background-color: #FFFFFF; // 主背景色
@background-color-secondary: #F2F1FF; // 次级背景色
@background-color-tertiary: #F5F5F5; // 三级背景色
@primary-color: #7A7EE8; // 主色
@primary-color-hover: lighten(@primary-color, 20%); // 主色悬停
@success-color: #4CC046; // 成功色
@success-color-hover: lighten(@success-color, 20%); // 成功悬停色
@info-color: #7A7EE8; // 提示色
@info-color-hover: lighten(@info-color, 20%); // 提示悬停色
@warning-color: #FEE755; // 警告色
@warning-color-hover: lighten(@warning-color, 20%); // 警告悬停色
@danger-color: #F97D7D; // 报错色
@danger-color-hover: lighten(@danger-color, 20%); // 报错悬停色
@disable-color: #F4F4F4; // 禁用色
@disable-color-hover: lighten(@disable-color, 20%); // 禁用悬停色

// 边框
@border-color: #f1f1f1; // 主边框色

// for demo
@placeholder-color: #C1E1F7; // 占位颜色

// 定位上下左右居中

.ctp(@width, @height) {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -@height/2;
    margin-left: -@width/2;
}
// 定位上下居中

.tb {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
// 定位左右居中

.lr {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
// 宽高

.wh(@width, @height) {
    width: @width;
    height: @height;
}

// 字体大小、行高、字体
.ft(@size, @line-height) {
    font-size: @size;
    line-height: @line-height;
}

// 字体大小、行高、字体
.ch(@color, @line-height) {
    color: @color;
    line-height: @line-height;
}

// 高度，行高 
.hlh(@height) {
    height: @height;
    line-height: @height;
}

// 字体大小，颜色
.sc(@size, @color) {
    font-size: @size;
    color: @color;
}

// 字体大小，颜色, 行高
.sch(@size, @color, @line-height) {
    font-size: @size;
    color: @color;
    line-height: @line-height;
}

//flex 布局和 子元素 对其方式
.fj(@type: space-between) {
    display: flex;
    justify-content: @type;
}
