<template>
    <div class="asideBar">
        <scroll-view
            scroll-y
            class="scroll-view"
            @scrolltoupper="upper"
            @scrolltolower="lower"
            @scroll="scroll"
            :scroll-into-view="toView"
            :scroll-top="scrollTop"
        >
            <div class="scroll-view-item">
                <div class="venue-title">会场进行时</div>
                <div class="venue-list flex flex-align-center" v-for="item in getVenueList" :index="item.id" :key="item.id">
                    <div class="venue-logo"></div>
                    <div class="venue-text">{{ item.title }}</div>
                </div>
            </div>
        </scroll-view>
    </div>
</template>

<script>
    import { getVenueList } from "@/service/home";

    export default {
        name: "aside-bar",
        props: {
            toggleAside: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                toView: "red",
                scrollTop: 0,
                getVenueList: []
            };
        },
        onLoad() {
            let app = this;
            app.getVenueList = getVenueList();
        },
        mounted() {
            console.log("getVenueList:", this.getVenueList);
        },
        methods: {
            upper(e) {
                console.log(e);
            },
            lower(e) {
                console.log(e);
            },
            scroll(e) {
                console.log(e);
            },
            tap(e) {
                for (let i = 0; i < order.length; ++i) {
                    if (order[i] === this.data.toView) {
                        this.setData({
                            toView: order[i + 1]
                        });
                        break;
                    }
                }
            },
            tapMove(e) {
                this.setData({
                    scrollTop: this.data.scrollTop + 10
                });
            }
        }
    };
</script>

<style lang="less" scoped>
    .hlh(@width, @height) {
        width: @width;
        height: @height;
    }

    .asideBar {
        width: 100%;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 9;
        transform: translateX(-100%);

        .mask {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: rgba(0, 0, 0, 0.3);
            z-index: -1;
        }

        .scroll-view {
            width: 100%;
            height: 100%;
            background-color: @background-color;

            .scroll-view-item {
                padding-left: 20%;
                height: 100%;

                .venue-title {
                    height: 60px;
                    line-height: 60px;
                    font-size: @font-size-large;
                    padding-left: 10px
                }

                .venue-list {
                    height: 60px;
                    border-bottom: 1px solid @border-color;
                    padding-left: 10px;

                    .venue-logo {
                        width: 48px;
                        height: 48px;
                        margin-right: 10px;
                        background-color: @placeholder-color;
                        border-radius: 4px;
                    }

                    .venue-title {
                        color: @font-color;
                        font-size: @font-size;
                    }
                }
            }

        }
    }
</style>

