<template>
    <div id="CategoryBanner" class="banner"></div>
</template>

<script>
    /**
     * 二级分类banner
     *
     * @author jillyandkai@qq.com
     * @date 2018-12-29
     */
    export default {
        name: "CategoryBanner"
    };
</script>

<style lang="less" scoped>
    .banner {
        margin: 8px 10px;
        width: 265px;
        height: 90px;
        background-color: @placeholder-color;
        border-radius: 3px;
    }
</style>
