<template>
    <div id="CategoryTop" class="category" @click="categorySelected(id)" :class="isSelected">
        <div class="icon">
            <!--<template v-html="icon"></template>-->
            <!--<template v-else><img :src="icon" width="20" height="20"/></template>-->
        </div>
        <div class="title">{{ title }}</div>
    </div>
</template>

<script>
    /**
     * 一级分类
     *
     * @author jillyandkai@qq.com
     * @date 2018-12-29
     */
    export default {
        name: "CategoryTop",
        props: {
            id: {
                type: Number,
                default: 0
            },
            title: {
                type: String,
                default: ""
            },
            icon: {
                type: String,
                default: ""
            },
            current: {
                type: Number,
                default: 0
            }
        },
        computed: {
            isSelected() {
                return this.id === this.current ? "active" : "";
            }
        },
        methods: {
            categorySelected(id) {
                let app = this;
                app.current = id;
                app.$emit("categoryChange", id);
            }
        }
    };
</script>

<style lang="less" scoped>
    .category {
        width: 90px;
        height: 80px;
        background-color: @background-color;
        border-bottom: 1px solid @border-color;
        border-right: 1px solid @border-color;
        box-sizing: border-box;
        overflow: hidden;
    }

    .category.active {
        background-color: @background-color-secondary;
    }

    .icon {
        width: 24px;
        height: 24px;
        background-color: @placeholder-color;
        margin: 20px auto 0;
        border-radius: 24px;
    }

    .title {
        font-size: @font-size-secondary;
        margin: 2px 5px;
        width: 80px;
        text-align: center;
        line-height: 16px;
    }
</style>
