<template>
    <div id="CategoryBelow" class="category" @click="categorySelect">
        <div class="icon"></div>
        <div class="title">{{ title }}</div>
    </div>
</template>

<script>
    /**
     * 二级分类
     *
     * @author jillyandkai@qq.com
     * @date 2018-12-29
     */
    export default {
        name: "CategoryBelow",
        props: {
            id: {
                type: Number,
                default: 0
            },
            title: {
                type: String,
                default: ""
            },
            icon: {
                type: String,
                default: ""
            }
        },
        methods: {
            categorySelect() {
                let app = this;
                app.$emit("categorySelect", {
                    id: app.id,
                    title: app.title
                });
            }
        }
    };
</script>

<style lang="less" scoped>
    .category {
        width: 70px;
        height: 90px;
        margin: 6px;
        float: left;
        box-sizing: border-box;
    }

    .icon {
        width: 70px;
        height: 70px;
        background-color: @placeholder-color;
        border-radius: 3px;
    }

    .title {
        font-size: @font-size-tertiary;
        margin: 5px 0;
        width: 70px;
        text-align: center;
        line-height: 13px;
    }
</style>
