<template>
    <div class="child-demo">
        dddd
        <div>
            <strong>Error</strong>
            <slot>
                这是默认内容
            </slot>
        </div>
    </div>
</template>
<script>
export default {
    name: 'childs'
}
</script>
<style lang="less" scoped>
    
</style>
