<template>
    <div id="GoodCard" class="goodcard">
        <div class="cover"></div>
        <div class="info">
            <div class="title">{{ title }}</div>
            <div class="original">￥{{ original }}</div>
            <div class="cost">￥{{ cost }}</div>
            <div class="add-cart"></div>
        </div>
    </div>
</template>

<script>
    /**
     * 商品卡片
     *
     * @author jillyandkai@qq.com
     * @date 2018-01-03
     */
    export default {
        name: "GoodCard",
        props: {
            id: {
                type: Number,
                default: 0
            },
            cover: {
                type: String,
                default: ""
            },
            title: {
                type: String,
                default: ""
            },
            cost: {
                type: Number,
                default: 0.00
            },
            original: {
                type: Number,
                default: 0.00
            }
        }
    };
</script>

<style lang="less" scoped>
    .goodcard {
        width: 172.5px;
        height: 205px;
        background-color: @background-color;
        border-radius: 3px;
        float: left;
        overflow: hidden;
        margin-bottom: 10px;
    }

    .cover {
        width: 100%;
        height: 130px;
        background-color: @placeholder-color;
    }

    .info {
        padding: 5px;
        font-size: @font-size-quaternary;
        position: relative;
    }

    .title {
        line-height: 16px;
        height: 32px;
    }

    .original {
        color: @font-color-secondary;
        text-decoration: line-through;
        line-height: 14px;
    }

    .cost {
        color: @primary-color;
        font-size: @font-size-secondary;
    }

    .add-cart {
        width: 24px;
        height: 24px;
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-color: @placeholder-color;
        border-radius: 24px;
    }
</style>
