<template>
    <div class="goodList flex flex-align-center" @click="gotoProductPage">
        <div>
            <img src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="logo">
        </div>
        <div class="list-content flex flex-v flex-pack-justify">
            <div class="content-title">MIKLODKFJFJF 雪糕新品890</div>
            <div class="content-price flex flex-align-center">
                <span>￥590</span>
                <span class="orignal-price">￥230</span>
            </div>
            <div class="list-recommend">
                <span class="recommend">推荐理由：</span>
                <span class="reason">这个商品太好了，这个商品太好了，这个商品太好了，重要的事要说3遍</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "good-list",
        methods: {
            gotoProductPage() {
                wx.navigateTo({
                    url: "../product/main"
                })
            }
        }
    };
</script>

<style lang="less" scoped>
    .goodList {
        width: 100%;
        height: 100px;
        background-color: @background-color-tertiary;
        margin-bottom: 10px;

        img {
            width: 100px;
            height: 100px;
            display: block;
        }

        .list-content {
            padding: 5px 10px;
            height: 100px;
            box-sizing: border-box;

            .content-title {
                font-size: @font-size-secondary;
            }

            .content-price {
                font-size: @font-size-secondary;
                color: @primary-color;

                .orignal-price {
                    font-size: @font-size-tertiary;
                    color: @font-color-secondary;
                    text-decoration: line-through;
                }
            }

            .list-recommend {
                font-size: @font-size-quaternary;
                color: @font-color-tertiary;

                .recommend {
                    color: @danger-color;
                }

                .reason {

                }
            }
        }
    }
</style>
