<template>
    <div class="horizontalScroll">
        <swiper
            :indicator-dots="indicator"
            :autoplay="autoplay"
            interval="5000"
            duration="1000"
            @change="swiperChange"
            @animationfinish="animationfinish"
            next-margin="25"
            class="swiper"
        >
            <swiper-item @click="gotoProductPage" class="flex flex-align-center swiper-item" v-for="(item, index) in imgUrls2" :index="index" :key="index">
                <div class="slide-box flex flex-v" v-for="(item2, index2) in item" :index="index2" :key="index2">
                    <image :src="item2" class="slide-image"/>
                    <div class="item-title">
                        <text>雪糕新品小程序化妆水</text>
                    </div>
                    <div class="item-price"><span>￥350</span><span class="origin-price">￥500</span></div>
                </div>
            </swiper-item>
        </swiper>
    </div>
</template>

<script>
    export default {
        name: "horizontal-scroll",
        computed: {
            imgUrls2() {
                let arr = [];
                for (var i = 0, len = this.imgUrls.length; i < len; i += 3) {
                    arr.push(this.imgUrls.slice(i, i + 3));
                }
                console.log(arr);
                return arr;
            },
            nextMargin() {
                return 40;
            }
        },
        data() {
            return {
                imgUrls: [
                    require("@/assets/maxresdefault.jpg"),
                    require("@/assets/1_HSisLuifMO6KbLfPOKtLow.jpg"),
                    require("@/assets/mysql-logo-wallpaper.jpg"),
                    require("@/assets/1_aeWo6e6FC8InJwBl3TmpDw.jpg"),
                    require("@/assets/1_ueWmI48uuShON-hX7LwI0w.png"),
                    require("@/assets/maxresdefault.jpg"),
                    require("@/assets/1_HSisLuifMO6KbLfPOKtLow.jpg"),
                    require("@/assets/mysql-logo-wallpaper.jpg"),
                    require("@/assets/1_aeWo6e6FC8InJwBl3TmpDw.jpg"),
                    require("@/assets/1_ueWmI48uuShON-hX7LwI0w.png")
                ],
                autoplay: false,
                indicator: false
            };
        },
        methods: {
            swiperChange(e) {
                // console.log('第' + e.mp.detail.current + '张轮播图发生了滑动');
                this.currentBots = e.mp.detail.current;
            },
            animationfinish(e) {
                // console.log('第' + e.mp.detail.current + '张轮播图滑动结束');
            },
            gotoProductPage() {
                wx.navigateTo({
                    url: "../product/main"
                })
            }
        }
    };
</script>

<style lang="less" scoped>
    .horizontalScroll {
        width: 100%;
        background-color: #fff;

        .swiper {
            padding: 10px 0;
            height: 170px;

            .slide-box {
                margin-right: 10px;
                width: 100px;
                text-align: center;

                &:nth-child(3) {
                    margin-right: 0;
                }

                .slide-image {
                    width: 100px;
                    height: 100px;
                    min-height: 100px;
                    border: 1px solid #aaa;
                }

                .item-title {
                    font-size: 12px;
                    line-height: 16px;
                    height: 32px;
                    overflow: hidden;
                    margin-top: 10px;
                }

                .item-price {
                    font-size: 14px;
                    color: #7A7EE8;

                    .origin-price {
                        color: #999;
                        font-size: 12px;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
</style>

