<template>
    <div class="hotSaleVenue">
        <div class="hot-sale-venue" @click="gotoVenuePage">
            <div class="venue-brand flex flex-align-center flex-pack-justify">
                <img src="https://i.loli.net/2017/08/21/599a521472424.jpg" alt="">
                <div class="flex-1">
                    <div class="brand-title">DDXJLUH DDSS</div>
                    <div class="brand-info">
                        <span class="goodsNum">37款</span>
                        <span>10月05日 00:00</span>
                        开始
                    </div>
                </div>
                <div class="venue-label">新品首发</div>
            </div>
            <view class="brand-desc">
                <text>DDXJLUH DDSS，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品，是一个非常好的产品</text>
            </view>
        </div>
        <HorizontalScroll></HorizontalScroll>
    </div>
</template>

<script>
    import HorizontalScroll from "./HorizontalScroll";

    export default {
        name: "hot-sale-venue",
        components: {
            HorizontalScroll
        },
        methods: {
            gotoVenuePage() {
                wx.navigateTo({
                    url: "../venue/main"
                })
            }
        }
    };
</script>

<style lang="less" scoped>
    .hotSaleVenue {
        padding: 10px 10px 0;
        background-color: @background-color;

        .venue-brand {
            img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                margin-right: 10px;
            }

            .brand-title {
                font-size: @font-size-large;
                color: @font-color;
            }

            .brand-info {
                font-size: @font-size-tertiary;
                color: @font-color-secondary;
                margin-right: 10px;
            }
        }

        .brand-desc {
            line-height: 1.4;
            font-size: @font-size-tertiary;
            padding: 10px;
            margin-top: 10px;
            background-color: @background-color-tertiary;
        }
    }
</style>

