<template>
    <div class="top-search">
        <div class="search-box">
            <input type="text" ref="input" v-model="value" class="search-input"
                   @input="handleChange" @focus="handleFocus" @blur="handleBlur" :focus="focus"/>
            <div class="search-mask saaa" @click="handleClick" v-if="!initVaule" v-show="show">
                <i-icon type="search" class="search-icon" size="22" color="#999"/>
                <span>搜索商品名称/品牌名称</span>
            </div>
            <div class="search-mask flex flex-align-center" v-else>
                <i-icon type="search" class="search-icon" size="22" color="#999"/>
                <span class="search-init">
                    {{ initVaule }}
                    <i-icon type="close" size="16" color="#fff" @click="handleClick2"/>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            initData: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                value: "",
                show: true,
                initVaule: this.initData,
                focus: false
            };
        },
        onReady() {
            console.log("this.initData:", this.initData);
            this.show = !this.value.trim();
            this.initVaule = this.initData;
        },
        methods: {
            handleClick() {
                this.show = false;
                this.focus = true;
            },
            handleClick2() {
                this.initVaule = "";
                this.show = false;
                this.focus = true;
            },
            handleFocus() {
                this.$emit("focus", this.value);
                this.show = false;
                this.focus = true;
            },
            handleBlur() {
                this.$emit("blur", this.value);
                if (!this.value.trim()) {
                    this.show = true;
                }
                this.focus = false;
            },
            handleChange() {
                this.$emit("change", this.value);
                this.show = !this.value.trim();
            }
        }
    };
</script>

<style lang="less" scoped>
    .top-search {
        padding: 10px;

        .search-box {
            position: relative;
            font-size: @font-size;

            .search-mask {
                position: absolute;
                left: 0;
                top: 0;
                color: @font-color-secondary;
                width: 85%;
                padding: 0 14px;
                height: 28px;
                box-sizing: border-box;
                line-height: 28px;
                z-index: 9;

                .search-icon {
                    position: relative;
                    top: -2px;
                }

                .search-init {
                    padding: 0 10px;
                    background-color: @primary-color;
                    border-radius: 14px;
                    color: #fff;
                    height: 20px;
                    line-height: 20px;
                    font-size: @font-size-quaternary;
                    margin-left: 5px;
                }
            }

            .search-input {
                width: 85%;
                height: 28px;
                background-color: @background-color-tertiary;
                box-sizing: border-box;
                border-radius: 14px;
                padding: 0 14px;
                color: @font-color;
            }
        }

    }
</style>
