<template>
    <div id="NavigateBar">
        <i-tab-bar fixed :current="current" color="#7A7EE8" @change="handleChange">
            <i-tab-bar-item v-for="one in list" v-if="one.isMenu" :key="one.name" :icon="one.icon" :current-icon="one.icon + '_fill'" :title="one.title"/>
        </i-tab-bar>
    </div>
</template>

<script>
    /**
     * 导航（弃用）
     *
     * @author jillyandkai@qq.com
     * @date 2018-12-29
     */
    import router from "../router/routers";

    export default {
        name: "NavigateBar",
        data() {
            return {
                current: "home",
                list: router
            };
        },
        methods: {
            handleChange(key) {
                console.log("key == ", key);
                // window.location.href = "/" + this.list[key].href;
                let app = this;
                let name = key.target.key;
                for (let one in app.list) {
                    let item = app.list[one];

                    console.log("item == ", item);
                    console.log("name == ", name);
                    console.log("item.name == ", item.name);

                    if (item.name === name) {
                        console.log("item.name =2= ", item.name);
                        app.current = item.name;
                        wx.switchTab({
                            url: item.path
                        });
                        return;
                    }
                }
            },
            select(item) {
                // window.location.href = "/" + item.href;
            }
        }
    };
</script>

<style lang="wxss" scoped>
    .i-tab-bar {
        background-color: #eee;
    }
</style>
