<template>
    <div class="swiper">
        <swiper
            :indicator-dots="indicator"
            :autoplay="autoplay"
            :interval="interval"
            :duration="duration"
            :previous-margin="previousMargin"
            :next-margin="nextMargin"
            :current="currentIndex"
            indicator-color="#000"
            indicator-active-color="red"
            @change="swiperChange"
            @animationfinish="animationfinish"
            class="swiper-box"
        >
            <div v-for="(item, index) in list" :index="index" :key="index" class="swiper-item">
                <swiper-item>
                    <div class="slide-box">
                        <image :src="item" class="slide-image"/>
                    </div>
                </swiper-item>
            </div>
        </swiper>
        <div v-if="botsShow" class="swiper-bots flex flex-align-center flex-pack-center" :class="botsPoi">
            <div v-for="(item, index) in list" :index="index" :key="index" class="swiper-bots-item flex">
                <span class="bot" :class="{ active: index === currentBots }"></span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "swiper-box",
        props: ['list', 'indicator', 'autoplay', 'next-margin', 'interval', 'duration', 'previous-margin', 'bots-poistion', 'bots-show'],
        data() {
            return {
                currentBots: 1,
                botsPoi: '',
                currentError: 1,
                currentIndex: 1
            };
        },
        onLoad() {
            console.log(this.botsPoistion)
            this.botsPoi = `swiper-bots-${this.botsPoistion}`;

        },
        methods: {
            swiperChange(e) {
                this.currentBots = e.mp.detail.current;
            },
            animationfinish(e) {
            }
        }
    };
</script>

<style lang="less">
    
    .swiper {
        position: relative;
        .swiper-box {
            height: 150px;
        }
        .swiper-item {
            .slide-box {
                width: 100%;
                height: 100%;
                text-align: center;
            }

        }

        .swiper-bots {
            height: 30px;
            width: 100%;
            &.swiper-bots-in {
                position: absolute;
                bottom: 0;
            }
            .swiper-bots-item {
                margin-right: 6px;

                &:last-child {
                    margin-right: 0;
                }

                .bot {
                    width: 6px;
                    height: 6px;
                    background: @font-color;
                    border-radius: 100%;

                    &.active {
                        background: @primary-color;
                    }
                }
            }
        }

    }
</style>
