<template>
    <div id="TabBar" class="tab-bar">
        <slot></slot>
    </div>
</template>

<script>
    /**
     * 头部切换bar
     *
     * @author jillyandkai@qq.com
     * @date 2018-01-03
     */
    export default {
        name: "TabBar",
        props: {
            current: {
                type: String,
                default: ""
            }
        },
        data() {
            return {
                selected: this.current
            };
        },
        // mounted() {
        // let app = this;
        // let len = app.$children.length;
        //
        // let query = wx.createSelectorQuery();
        // let $active = query.select(".tab-bar-active");
        //
        // $active.style = {
        //     left: ((375 / len / 2) - 10) * 2 + "rpx"
        // };
        // },
        methods: {
            tabItemSelected(obj) {
                this.selected = obj.index;
                // 触发上一级事件
                this.$emit("tabSelected", obj);
            }
        }
    };
</script>

<style lang="less" scoped>
    .tab-bar {
        height: 48px;
        line-height: 48px;
        background-color: @background-color;
        clear: both;
        display: flex;
        font-size: @font-size-large;
    }
</style>
