<template>
    <div id="TabBarItem" class="tab-bar-item" :data-active="active" :data-order="order" :data-desc="desc" @click="tabItemSelected">
        <div class="title">{{ title }}</div>
        <div class="tab-bar-active"></div>
    </div>
</template>

<script>
    /**
     * 头部切换bar - 子类
     *
     * @author jillyandkai@qq.com
     * @date 2018-01-03
     */
    export default {
        name: "TabBarItem",
        props: {
            index: {
                type: String,
                default: ""
            },
            title: {
                type: String,
                default: "标题"
            },
            order: {
                type: Boolean,
                default: false
            },
            desc: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            active() {
                let app = this;
                return app.$parent.selected === app.index;
            }
        },
        methods: {
            tabItemSelected() {
                let app = this;

                if (app.order) {
                    app.desc = !app.desc;
                }

                // 触发上一级事件
                app.$parent.tabItemSelected({
                    index: app.index,
                    order: app.order,
                    desc: app.desc
                });
            }
        }
    };
</script>

<style lang="less" scoped>
    .tab-bar-item {
        color: @font-color-tertiary;
        text-align: center;
        position: relative;
        flex: 1;

        .title {
            position: relative;
            display: inline-block;
        }

        &[data-order="true"] {
            .title::before, .title::after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                border-style: solid;
                border-width: 6px 3px;
                top: 12px;
                right: -10px;
            }

            .title::before {
                border-color: transparent transparent @font-color-tertiary transparent;
                top: 12px;
            }

            .title::after {
                border-color: @font-color-tertiary transparent transparent transparent;
                top: 26px;
            }
        }

        &[data-active="true"] {
            color: @font-color;

            &[data-desc="false"] .title::before {
                border-bottom-color: @font-color;
            }

            &[data-desc="true"] .title::after {
                border-top-color: @font-color;
            }
        }

        &[data-active="true"] .tab-bar-active {
            display: block;
            width: 100%;
            height: 2px;
            text-align: center;
            line-height: 0;
            position: absolute;
            bottom: 4px;

            &::after {
                content: '';
                width: 20px;
                height: 2px;
                background-color: @primary-color;
                display: inline-block;
            }
        }
    }
</style>
