<template>
    <div class="search">
        <InputSearch
            @change="handleChange"
            @focus="handleFocus"
            @blur="handleBlur"
            :initData="value"
        ></InputSearch>
        <div class="hot-search">
            <div class="hot-title">热门搜索</div>
            <div class="flex flex-align-center flex-wrap">
                <view v-for="item in data" :key="item" :index="item" class="hot-item" @click="handleClick(item)">
                    <text>{{ item }}</text>
                </view>
            </div>
        </div>
        <div class="history-search">
            <div class="history-title">历史搜索</div>
            <div class="">
                <view v-for="item in data" :key="item" :index="item" class="history-item" @click="handleClick(item)">
                    <text>{{ item }}</text>
                </view>
            </div>
            <div class="clear-history">清除历史记录</div>
        </div>
    </div>
</template>

<script>
    import InputSearch from "@/components/InputSearch";

    export default {
        data() {
            return {
                value: "",
                data: ["身体乳", "洁面仪", "磨砂膏", "卸妆水", "滋润型", "资生堂心记", "美白丸", "护发素", "MIKIMOTO"]
            };
        },
        components: {
            InputSearch
        },
        methods: {
            handleClick(item) {
                console.log("item:", item);
                wx.navigateTo({
                    url: `../searchList/main?title=${item}`
                });
            },
            handleFocus(val) {
                console.log("获取光标", val);
            },
            handleBlur(val) {
                console.log("失去光标", val);
            },
            handleChange(val) {
                console.log("value在变化22", val);
            }
        }
    };
</script>

<style lang="less" scoped>
    .search {
        width: 100%;
        height: 100%;

        .hot-search {
            padding: 10px;
            background: #fff;

            .hot-item {
                padding: 1px 10px;
                background-color: #f2f2f2;
                margin: 10px 10px 0 0;
                border-radius: 4px;
            }
        }

        .history-search {
            padding: 10px 0;
            background: #fff;

            .history-title {
                padding: 0 10px;
            }

            .history-item {
                padding: 0 10px;
                height: 45px;
                line-height: 45px;
                border-bottom: 1px solid #efefef;
            }

            .clear-history {
                height: 100px;
                padding-top: 20px;
                text-align: center;
                color: #574ffd;
            }
        }
    }
</style>
