<template>
    <div id="mine" class="page">
        <p>this is mine page（我的）...</p>
    </div>
</template>

<script>
    import NaviagateBar from "@/components/NavigateBar";

    export default {
        data() {
            return {
                userInfo: {}
            };
        },
        components: {
            NaviagateBar
        },
        methods: {},
        created() {
            console.log("who is faster");
        },
        onLoad() {
            console.log("监听页面加载。。。");
        },
        onReady() {
            console.log("监听页面初次渲染完成。。。");
        },
        onHide() {
            console.log("监听页面隐藏。。。");
        },
        onUnload() {
            console.log("监听页面卸载。。。");
        },
        onTabItemTap() {
            console.log("我点击tabitem了");
        },
        onShow() {
            console.log("this is mine");
        },
        mounted() {
            console.log("who is fast?");
        }
    };
</script>

<style scoped>

</style>
